<xf:macro
    name="options"
    arg-class="node--unread">
	<xf:if is="property('at_ni_indicator_type') == 'text' || property('at_ni_indicator_type') == 'both'">
		.{$class} & {
			.xf-at_ni_text();
		}
	</xf:if>
	<xf:if is="property('at_ni_indicator_type') == 'lable' || property('at_ni_indicator_type') == 'both'">
		.{$class} & a:{{ property('at_ni_indicator_position_node') }} {
			.xf-at_ni_label();
			<xf:if is="property('at_ni_indicator_position_node') == 'after'">
				margin-left: 5px;
			<xf:else />
				margin-right: 5px;
			</xf:if>
			<xf:if is="property('at_ni_label_fa_content')">
				.m-faBase();
				.m-faContent(@fa-var-{{ property('at_ni_label_fa_content') }});
			<xf:else />
				content: "{{ phrase('at_ni_label_text') }}";
			</xf:if>
		}
	</xf:if>
</xf:macro>